body{
    background-color: black;
    font-family: 'Poppins',  sans-serif;
    color: white;
    margin: 0%;
    
}
.introduce{
    font-size: 40px;
   
}


.hi .description{
    font-size: 25px;
}


.my-name {
    color: coral;
}

.bold{
    color: rgb(22, 4, 88);
}


section{
    display: flex;
    margin-bottom: 100px;
}

.half-width{
    width: 50%;
    padding-left: 5%;;
}

.half-width img{
    width: 60%;
} 

.link-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgb(233, 208, 163), rgb(230, 75, 19));
    border-radius: 5px;
    padding: 10px 40px;
    font-weight: 700;
}

.top-banner{
    background-image: url(images/top-banner.png)  ;
    background-repeat: no-repeat;
}

.middle_banner{
    background-image: url(images/dream-bg.png)  ;
    background-repeat: no-repeat;
    background-position: right;
}
.box-item{
    width: 40%;
    box-shadow: 5px 5px 20px gray;
    color: white;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border-left: blue;
    
}

.Personal-Projects{
    font-size: 40px;
    text-align: center;
    margin-bottom: 100px;
}