body{
    background-color: black;
    font-family: 'Poppins',  sans-serif;
    color: white;
    margin: 0%;
    
}
.introduce{
    font-size: 50px;
   
}
.hi .description{
    font-size: 25px;
}


.my-name{
    color: coral;
}

section{
    display: flex;
}

.half-width{
    width: 50%;
    padding-left: 5%;;
}

.half-width img{
    width: 80%;
} 

.link-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgb(233, 208, 163), rgb(230, 75, 19));
    border-radius: 5px;
    padding: 10px 40px;
    font-weight: 700;
}

.top-banner{
    background-image: url(images/top-banner.png)  ;
    background-repeat: no-repeat;
}

